<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549561683518-i31h87a8ak7v8qdel4iqaaqoo0vg1fsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549561683518-i31h87a8ak7v8qdel4iqaaqoo0vg1fsl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>549561683518-eqaeq4sn3evjsjdb83g24o21154i3kqp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBE7p_zS6gwNTSFOlIX3I1Xpqn_nSQJ6js</string>
	<key>GCM_SENDER_ID</key>
	<string>549561683518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Animations</string>
	<key>PROJECT_ID</key>
	<string>grounded-chain-267616</string>
	<key>STORAGE_BUCKET</key>
	<string>grounded-chain-267616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549561683518:ios:221d597a43315b680a8b6f</string>
	<key>DATABASE_URL</key>
	<string>https://grounded-chain-267616.firebaseio.com</string>
</dict>
</plist>